{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script>
        window.studentEnrollmentDetails = {{ enrollmentDetails|serialize('json')|raw }}
    </script>

    {% if app.debug %}
        <script src="{{ asset('webpack-dev-server.js') }}"></script>
    {% endif %}
    <script src="{{ asset('js/course.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Edit Course</h1>

    <div id="course_edit">
        <button class="btn btn-primary js-alert" data-message="Yay">The yay button</button>
        <button class="btn btn-primary js-alert" data-message="Boo">The boo button</button>
    </div>
{% endblock %}
