{% extends 'base.html.twig' %}

{% block body %}
    <h1>Courses</h1>

    <table class="table">
        <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{ course.name }}</td>
                    <td>
                        <a href="{{ path('course_edit', {'id': course.id}) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
